

section { padding: 5px; }

.sectionOne {
height: 100vh;	
text-align: center;
    
    background-color: #FB8A61;
    background-image: url(../images/background.svg);
    width: 100%;
    background-repeat: repeat-x;

}



.sectionTwo {
height: 100vh;	
background-color: #0C022F;
text-align: center;

}

.aboutme {width: 35vw; float: left;}
.me {width:50vw; float:right;}



.sectionThree {
	height: 100vh;	
	background-color: #FB8A61;
	text-align: center;
}
	
.sectionFour {
	height: 45vh;	
	background-color: #0C022F ;
	text-align: center;
    width: 100%;
}


.left {float: left;}
.right {float: right;}
hr {border: 1px solid white; width: 25%; }

h1 {
    color: #fff;
font-family: 'Poiret One', cursive;
    font-size: 3em;
    padding-top: 0.8em;
}

h2 {
    color: #fff;
font-family: 'Poiret One', cursive;
    font-size: 2em;
}

 p {
    color: #f2d995;
}

p, nav { 
font-family: 'Mandali', sans-serif;}



.monogram {
    position: absolute;
    left: 0;
    top: 50%;
    width: 60%;
    text-align: center;
    font-size: 18px;
}

.background {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.footer {
    position:absolute;
    left:0;
    bottom:70%;
    width:100%;
    text-align:center;
    font-size: 18px;
}

 { 
   
    width: 40%;
    height:inherit;
    opacity: 1.0;
}

////////////////////FOOTER////////////////

footer {
    padding: 1em;
margin-top: 2em;
margin-bottom: -2em;
background: #0c022f;
text-align: centre; 
}

.social ul {
    margin: 0;
    padding: 0;
}

.social li {
    margin: 0 9px;
    padding: 0;
    display: inline;
}

.social img {
    width: 60px;
    align-items: center;
    border: none;
}

.social a:hover img {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
    opacity: 0.4em; 
}

////////////NAV/////////////

nav { text-align: centre centre;
}

nav ul li { display: inline-block;}

nav ul {
    list-style-type: none;
    margin-bottom: 5em;
    padding-right: 2em;
    overflow: hidden;
    background-color: #FB8A61;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li a {
    color: #0C022F;
    padding: 14px 16px;
}

nav li a:hover {
    background-color: #F2D995 ;
}


.nav_item {
	padding: 10px 20px;
	display: inline-block;
}

.buttons {
  display: table;
  height: 100%;
  width: 100%;
    background-color: #FB8A61;
}

.container { 
  display: table-cell;
  padding: 0em;
  text-align: center;
  vertical-align: middle;
}

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

a {
border-bottom: 1px solid;
    border-top: 1px solid;
    color: #0C022F;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
    
    &:hover {
      background: rgba(#0C022F, 1);
    }
  }
}


.nav_item {
  color: #0C022F;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%; 
  
  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

.nav_item {
    letter-spacing: 0;
}

.nav_item:hover,
.nav_item:active {
  letter-spacing: 5px;
}

.nav_item:after,
.nav_item:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#0C022F, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.nav_item:hover:after,
.nav_item:hover:before {
  backface-visibility: hidden;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.nav_item:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}



